@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This page is made in MVC .Net Core. Therefore uses Entity Framework as ORM. 
    The Application focuses on Manage Voting and surveys.
    Users can be registered into the platform and they will be able to participate in different events voting for any candidate.

    Voting events or surveys can be Presidential Elections, Yes/No survey, among others.
</p>
