@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Johann Alberto Jimenez Caraballo<br />
    ITM - Medellín Antioquia<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">johannjimenez176693@correo.itm.edu.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">johannjimenez176693@correo.itm.edu.co</a>
</address>
