@model Voting.Web.Data.Entities.VotingEvent
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate">Start Date</label>
                <input asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="StartDate" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate">End Date</label>
                <input asp-for="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="EndDate" class="text-warning"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                <a asp-action="Index" class="btn btn-success"> Back to List</a>
            </div>

        </form>
    </div>
</div>

